* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 9920px;
  opacity: 1;
  border: 2px solid red;
}

.opening {
  width: 100%;
  height: 880px;
  border: 1px solid blue;
  background-color: rgba(23, 27, 27, 1);
}

.categories {
  height: 50px;
  max-width: 100%;
  border: 1px solid white;
}
