@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 9920px;
  opacity: 1;
  border: 2px solid red;
  position: relative;
}

.opening {
  position: relative;
  width: 100%;
  height: 880px;
  background-color: rgba(23, 27, 27, 1);
  overflow: hidden;
}

.categories {
  height: 50px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 135px;
  padding-top: 16px;
}

.logo {
  font-family: "Ultra";
  font-weight: 100;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: white;
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 289px;
  width: 100%;
  height: 32px;
  top: 26px;
  left: 313px;
  opacity: 1;
  margin-left: 72px;
}

.navigator > a {
  color: white;
  text-decoration: none;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
}

.call {
  width: 138px;
  height: 48px;
  top: 16px;
  left: 1167px;
  opacity: 1;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: auto;
}

.sub_opening {
  display: flex;
  align-items: center;
  margin-top: 196px;
  margin-left: 135px;
  gap: 200px;
}

.opening_text {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 27px;
}

.year {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main_text {
  font-family: "Ultra";
  font-weight: 100;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 0px;
}

.startend_text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.opening_image {
  width: 500px;
  height: 500px;
  position: relative;
}

.green {
  position: absolute;
  z-index: 1;
}

.brown {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: -56px;
}

.bread {
  position: absolute;
  z-index: 3;
  left: -40px;
  top: -91px;
}

.oval {
  position: absolute;
  width: 420px;
  height: 420px;
  top: 70px;
  left: 100px;
  z-index: 4;
}

.baker {
  position: absolute;
  z-index: 5;
  top: 90px;
  right: 30px;
  height: 400px;
}

.top_right_line {
  position: absolute;
  width: 278.0000083857744;
  height: 211.00000636474243;
  top: 0px;
  left: 750px;
  opacity: 1;
}

.main_image_line {
  position: absolute;
  top: -30px;
  left: 225px;
}

.right_line {
  position: absolute;
  right: 0px;
  top: 430px;
}

.bot_line {
  position: absolute;
  top: 750px;
  left: 40%;
}

.scroll_btn {
  position: absolute;
  bottom: 30px;
  left: 47%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(245, 174, 92, 1);
  background-color: transparent;
  color: rgba(245, 174, 92, 1);
  cursor: pointer;
}

.pointer_down {
  width: 28px;
  height: 27px;
  opacity: 1;
}
