@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgba(23, 27, 27, 1);
}

.container {
  max-width: 1440px;
  width: 100%;
  opacity: 1;
  position: relative;
}

.opening {
  position: relative;
  width: 100%;
  height: 880px;
  background-color: rgba(23, 27, 27, 1);
  overflow: hidden;
}

.categories {
  height: 50px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 135px;
  padding-top: 16px;
}

.logo {
  font-family: "Ultra";
  font-weight: 100;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: white;
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 289px;
  width: 100%;
  height: 32px;
  top: 26px;
  left: 313px;
  opacity: 1;
  margin-left: 72px;
}

.navigator > a {
  color: white;
  text-decoration: none;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
}

.call {
  width: 138px;
  height: 48px;
  top: 16px;
  left: 1167px;
  opacity: 1;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: auto;
}

.sub_opening {
  display: flex;
  align-items: center;
  margin-top: 196px;
  margin-left: 135px;
  gap: 200px;
}

.opening_text {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 27px;
}

.year {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main_text {
  font-family: "Ultra";
  font-weight: 100;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: 0px;
}

.startend_text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.opening_image {
  width: 500px;
  height: 500px;
  position: relative;
}

.green {
  position: absolute;
  z-index: 1;
}

.brown {
  position: absolute;
  z-index: 2;
  top: 14%;
  left: -11.2%;
}

.bread {
  position: absolute;
  z-index: 3;
  top: -18.2%;
  left: -8%;
}

.oval {
  position: absolute;
  width: 420px;
  height: 420px;
  top: 14%;
  left: 20%;
  z-index: 4;
}

.baker {
  position: absolute;
  z-index: 5;
  top: 18%;
  right: 6%;
  height: 400px;
}

.top_right_line {
  position: absolute;
  width: 278.0000083857744;
  height: 211.00000636474243;
  top: 0%;
  left: 52.08%;
  opacity: 1;
}

.main_image_line {
  position: absolute;
  top: -6%;
  left: 45%;
}

.right_line {
  position: absolute;
  top: 48.86%;
  right: 0%;
}

.bot_line {
  position: absolute;
  top: 85.23%;
  left: 40%;
}

.scroll_btn {
  position: absolute;
  bottom: 30px;
  left: 47%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(245, 174, 92, 1);
  background-color: transparent;
  color: rgba(245, 174, 92, 1);
  cursor: pointer;
}

.pointer_down {
  width: 28px;
  height: 27px;
  opacity: 1;
}

.special_moments {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1728px;
  width: 100%;
  background-color: rgba(245, 211, 171, 1);
}

.two_picture {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 800px;
}

.special_green {
  transform: rotate(-160deg);
  max-width: 512.0000035970336px;
  width: 1000%;
  position: absolute;
}

.black_dots {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 450px;
  width: 154.000001920647px;
  height: 140.00000167121235px;
}

.special_first_image {
  width: 370px;
  height: 304px;
  position: absolute;
  top: 17px;
  left: 70px;
  z-index: 1;
}

.special_second_image {
  width: 400px;
  height: 400px;
  z-index: 2;
  position: absolute;
  top: 215px;
  left: 130px;
}

.special_text {
  width: 570px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.special_opening {
  display: flex;
  margin-top: 160px;
}

.about_us {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(23, 27, 27, 1);
}

.baking_special {
  font-family: "Ultra";
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0px;
  color: rgba(23, 27, 27, 1);
}

.slider {
  display: flex;
  gap: 52px;
  align-items: flex-start;
  margin-top: 103px;
}

.arrows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.arrows button {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  opacity: 1;
  border: none;
  background: rgba(23, 27, 27, 1);
  color: white;
  cursor: pointer;
}

#down {
  transform: rotate(180deg);
}

.view {
  height: 120px;
  overflow: hidden;
}

.track {
  transition: transform 0.5s ease;
}

.item {
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.item > h3 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: rgba(23, 27, 27, 1);
}

.item > p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: rgba(51, 51, 51, 0.5);
}

.features_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
}

.features_text > p {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(23, 27, 27, 1);
}

.features_text > h1 {
  font-family: "Ultra";
  font-weight: 200;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(23, 27, 27, 1);
}

.features {
  display: flex;
}

.features > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;
  background-color: white;
  gap: 54px;
  transform: scale(1);
  z-index: 0;
}

.features_sub_text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.features_sub_text > h2 {
  font-family: "Ultra";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0px;
  color: rgba(23, 27, 27, 1);
}

.features_sub_text > p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0px;
  color: rgba(51, 51, 51, 0.5);
}

.features > div > div > img {
  display: flex;
  padding-right: 200px;
}

.features_position {
  gap: 69px;
  display: flex;
  flex-direction: column;
}

.yellow_circle {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

.features > div:hover .yellow_circle {
  display: block;
}

.features > div:hover {
  background-color: rgba(158, 173, 141, 1);
}

.features > div:hover img:not(.yellow_circle) {
  filter: brightness(0) saturate(100%) invert(100%) sepia(49%) saturate(4787%)
    hue-rotate(297deg) brightness(112%) contrast(113%);
}

.bread_image {
  filter: brightness(0) saturate(100%) invert(72%) sepia(41%) saturate(635%)
    hue-rotate(341deg) brightness(98%) contrast(96%);
}

.features > div:hover {
  transform: scale(1.083);
  z-index: 10;
}

.video {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 480px;
  border: 1px solid red;
  background-color: rgba(23, 27, 27, 1);
  position: relative;
}

.video_text > p {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.video_text > h1 {
  font-family: "Ultra";
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0px;
  color: white;
}

.tape {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

.video_line_top {
  position: absolute;
  top: 0px;
  right: 0px;
}

.video_line_bot {
  position: absolute;
  bottom: 0px;
}

.products {
  background-color: rgba(245, 211, 171, 1);
}

.products_text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.products_text > p {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.products_text > h1 {
  font-family: "Ultra";
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0px;
}

/* ჭრაააააააააააააააააა */

.menu-grid {
  display: grid;
  gap: 24px;

  /* 2 სვეტი */
  grid-template-columns: 2fr 1fr;

  /* 3 რიგი */
  grid-template-rows: 260px 200px 200px;

  grid-template-areas:
    "big  topR"
    "big  midR"
    "botL botM";
}

/* პოზიციები */
.card--big {
  grid-area: big;
}
.card--top-right {
  grid-area: topR;
}
.card--mid-right {
  grid-area: midR;
}
.card--bottom-left {
  grid-area: botL;
}
.card--bottom-mid {
  grid-area: botM;
}

/* უბრალოდ ვიზუალი */
.card {
  background: #ccc;
  border-radius: 16px;
  overflow: hidden;
}
